In [2]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[x*2 for x in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
[x+1 for x in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
[(x*2)+1 for x in range(10)]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

З умовою

In [5]:
nums = [x for x in range(20)]
string = 'Practice Problems to Drill List Comprehension in Your Head.'

Find all of the numbers from 1–1000 that are divisible by 8:

In [7]:
[num for num in nums if num % 8 == 0]

[0, 8, 16]

Find all of the numbers from 1–1000 that have a 6 in them:

In [13]:
[num for num in nums if '6' in str(num)]

[6, 16]

Count the number of spaces in a string:

In [16]:
len([char for char in string if char == ' '])

8

Remove all of the vowels in a string

In [17]:
"".join([char for char in string if char not in ["a", "e", "i", "o", "u"]])

'Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.'

This is a slightly different way of applying list comprehension. Problem Statement: The goal is to tokenize the following 5 sentences into words, excluding the stop words

In [54]:
sentences = ["a new world record was set", 
             "in the holy city of ayodhya", 
             "on the eve of diwali on tuesday", 
             "with over three lakh diya or earthen lamps", 
             "lit up simultaneously on the banks of the sarayu river"]

stopwords = ['for', 'a', 'of', 'the', 'and', 'to', 'in', 'on', 'with']
[word for sentence in sentences for word in sentence.split(' ') if word not in stopwords]

['new',
 'world',
 'record',
 'was',
 'set',
 'holy',
 'city',
 'ayodhya',
 'eve',
 'diwali',
 'tuesday',
 'over',
 'three',
 'lakh',
 'diya',
 'or',
 'earthen',
 'lamps',
 'lit',
 'up',
 'simultaneously',
 'banks',
 'sarayu',
 'river']

Find all of the words in a string that are less than 5 letters

In [22]:
words = string.split()
[word for word in words if len(word)<5]

['to', 'List', 'in', 'Your']

Use a dictionary comprehension to count the length of each word in a sentence (use string above)

In [23]:
{word:len(word) for word in words}

{'Practice': 8,
 'Problems': 8,
 'to': 2,
 'Drill': 5,
 'List': 4,
 'Comprehension': 13,
 'in': 2,
 'Your': 4,
 'Head.': 5}

Use a nested list comprehension to find all of the numbers from 1–1000 that are divisible by any single digit besides 1 (2–9)

In [24]:
[num for num in nums if True in [True for divisor in range(2,10) if num % divisor == 0]]

[0, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 15, 16, 18]

For all the numbers 1–1000, use a nested list/dictionary comprehension to find the highest single digit any of the numbers is divisible by

In [30]:
{num:max([x for x in range(1,10) if num % x == 0]) for num in nums}

{0: 9,
 1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 5,
 11: 1,
 12: 6,
 13: 1,
 14: 7,
 15: 5,
 16: 8,
 17: 1,
 18: 9,
 19: 1}

Using list comprehension, construct a list from the squares of each element in the list, if the square is greater than 50.

In [27]:
[x**2 for x in range(0,15,2) if x**2 > 50]

[64, 100, 144, 196]

Given dictionary is consisted of vehicles and their weights in kilograms. Contruct a list of the names of vehicles with weight below 5000 kilograms. In the same list comprehension make the key names all upper case.

In [33]:
dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
[i.upper() for i in dict if dict[i] < 5000]

['SEDAN', 'SUV', 'PICKUP', 'MINIVAN', 'VAN', 'BICYCLE', 'MOTORCYCLE']

Get the index and the value as a tuple for items in the list ["hi", 4, 8.99, 'apple', ('t,b','n')].  Result would look like [(index, value), (index, value)]

In [39]:
new = ["hi", 4, 8.99, 'apple', ('t,b','n')]
[(index, item) for index, item in enumerate(new)]

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t,b', 'n'))]

Find the common numbers in two lists (without using a tuple or set) list_a = [1, 2, 3, 4], list_b = [2, 3, 4, 5]

In [41]:
list_a = [1, 2, 3, 4]
list_b = [2, 3, 4, 5]
[x for x in list_a if x in list_b]

[2, 3, 4]

Get only the numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending'.  Result is a list of numbers like [3,4,5]

In [45]:
sentence = 'In 1984 there were 13 instances of a protest with over 1000 people attending'
words = sentence.split()
[x for x in words if not x.isalpha()]

['1984', '13', '1000']

Given numbers = range(20), produce a list containing the word 'even' if a number in the numbers is even, and the word 'odd' if the number is odd.  Result would look like ['odd','odd', 'even']

In [49]:
['even' if x % 2 == 0 else 'odd' for x in range(20)]

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

Produce a list of tuples consisting of only the matching numbers in these lists list_a = [1, 2, 3,4,5,6,7,8,9], list_b = [2, 7, 1, 12].  Result would look like (4,4), (12,12)

In [50]:
list_a = [1, 2, 3,4,5,6,7,8,9]
list_b = [2, 7, 1, 12]
[(x,y) for x in list_a for y in list_b if x==y]

[(1, 1), (2, 2), (7, 7)]

HARD LEVEL

Question 1. Given a 1D list, negate all elements which are between 3 and 8, using list comprehensions

In [60]:
mylist = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-x if 3 <= x <= 8 else x for x in mylist]

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

Question 2: Make a dictionary of the 26 english alphabets mapping each with the corresponding integer.

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6,
 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12,
 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18,
 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24,
 'y': 25, 'z': 26}


{a:i+1 for a,i in zip(string.ascii_letters[:26], range(26))}

Task 25: Replace all alphabets in the string ‘Lee Quan Yew’, by substituting the alphabet with the corresponding numbers, like 1 for ‘a’, 2 for ‘b’ and so on. Desired Output:

In [62]:
d = {a:i+1 for a,i in zip(string.ascii_lowercase, range(26))}
[d.get(a.lower(), ' ') for a in 'Lee Quan Yew']

[12, 5, 5, ' ', 17, 21, 1, 14, ' ', 25, 5, 23]

Task 26: Get the unique list of words from the following sentences, excluding any stopwords.

In [64]:
sentences = ["The Hubble Space telescope has spotted", 
             "a formation of galaxies that resembles", 
             "a smiling face in the sky"]
stopwords = {'face', 'formation', 'galaxies', 'has', 'hubble', 'resembles',
 'sky', 'smiling', 'space', 'spotted', 'telescope', 'that', 'the'}

{word.lower() for sentence in sentences for word in sentence.split(' ') if word not in stopwords}

{'a', 'hubble', 'in', 'of', 'space', 'the'}